TwitterCampaignManager/TwitterCampaignManager/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2",
        "koreacentral",
        "koreasouth",
        "francecentral",
        "francesouth",
        "southafricanorth",
        "southafricawest"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "excelonline_1_Connection_Name": {
      "type": "string",
      "defaultValue": "excelonline"
    },
    "excelonline_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "Excel Online (OneDrive)"
    },
    "twitter_1_Connection_Name": {
      "type": "string",
      "defaultValue": "twitter"
    },
    "twitter_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "khiro_ca"
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "List_rows_present_in_a_table": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['excelonline']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/drives/me/files/@{encodeURIComponent('CF46B7AB035B59AC!48109')}/tables/@{encodeURIComponent('{1FA38EEE-26F8-41F2-A21A-AF55C70A0017}')}/items",
                "queries": {
                  "source": "me"
                }
              },
              "runAfter": {},
              "metadata": {
                "CF46B7AB035B59AC!48109": "/Documents/TweetSampleTable.xlsx"
              }
            },
            "For_each": {
              "type": "Foreach",
              "foreach": "@body('List_rows_present_in_a_table')?['value']",
              "actions": {
                "Condition": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "greater": [
                          "@body('Parse_JSON')?['returnFlag']",
                          0
                        ]
                      }
                    ]
                  },
                  "actions": {
                    "Post_a_tweet": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['twitter']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "/posttweet",
                        "queries": {
                          "tweetText": "@items('For_each')?['Tweet']"
                        }
                      },
                      "runAfter": {}
                    }
                  },
                  "runAfter": {
                    "Parse_JSON": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Delete_a_row": {
                        "type": "ApiConnection",
                        "inputs": {
                          "host": {
                            "connection": {
                              "name": "@parameters('$connections')['excelonline']['connectionId']"
                            }
                          },
                          "method": "delete",
                          "path": "/drives/me/files/@{encodeURIComponent('CF46B7AB035B59AC!48109')}/tables/@{encodeURIComponent('{1FA38EEE-26F8-41F2-A21A-AF55C70A0017}')}/items/@{encodeURIComponent(encodeURIComponent(items('For_each')?['Date']))}",
                          "queries": {
                            "source": "me",
                            "idColumn": "Date"
                          }
                        },
                        "runAfter": {},
                        "metadata": {
                          "CF46B7AB035B59AC!48109": "/Documents/TweetSampleTable.xlsx"
                        }
                      }
                    }
                  }
                },
                "DatesCompare": {
                  "type": "Function",
                  "inputs": {
                    "body": "{date1: ' @{utcNow()}',  date2: '@{body('List_rows_present_in_a_table')}' }",
                    "function": {
                      "id": "/subscriptions/a9db5e35-bcfd-4dc8-9a3b-37e2c6dc4e76/resourceGroups/dotnetcore-projects/providers/Microsoft.Web/sites/TwitterCampaignManagerFuncs20200209091026/functions/DatesCompare"
                    }
                  },
                  "runAfter": {}
                },
                "Parse_JSON": {
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@body('DatesCompare')",
                    "schema": {
                      "type": "object",
                      "properties": {
                        "returnFlag": {
                          "type": "integer"
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "DatesCompare": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "runAfter": {
                "List_rows_present_in_a_table": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "Recurrence": {
              "type": "recurrence",
              "recurrence": {
                "frequency": "Hour",
                "interval": 1
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "excelonline": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'excelonline')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('excelonline_1_Connection_Name'))]",
                "connectionName": "[parameters('excelonline_1_Connection_Name')]"
              },
              "twitter": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'twitter')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('twitter_1_Connection_Name'))]",
                "connectionName": "[parameters('twitter_1_Connection_Name')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('excelonline_1_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('twitter_1_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2018-07-01-preview",
      "name": "[parameters('excelonline_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'excelonline')]"
        },
        "displayName": "[parameters('excelonline_1_Connection_DisplayName')]"
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2018-07-01-preview",
      "name": "[parameters('twitter_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'twitter')]"
        },
        "displayName": "[parameters('twitter_1_Connection_DisplayName')]"
      }
    }
  ],
  "outputs": {}
}